@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    /*background: #ccc;*/
    /* width: 90%;
    max-width: 1000px;
    margin:auto;*/
    /*FLEXBOX*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header .logo {
    color: #fff;
    font-size: 30px;
}

header .logo img {
    width: 50px;
    vertical-align: top;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.imagengrande img {
    display: block;
    height: 450px;
    object-fit: cover;
    animation: arriba 1s ease-in;
}

.textos {
    color: #fff;
}

.contenedorboton a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
}

.textos h1 {
    font-size: 70px;
    animation: moverDerecha 1s ease-in;
}

.textos h2 {
    font-size: 20px;
    animation: moverIzquierda 1s ease-in;
}

.retorno {
    position: relative;
    z-index: 1;
    animation: moverIzquierda 1s ease-in;
}

header {
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(195, 100%, 35%), #00b3db86), url(images/Fondo.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
    /*FLEXBOX*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    width: 100%;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    /* Flexbox */
    flex-grow: 1;
}

.contenedormenu nav a {
    flex-grow: 1;
    /*background:#c0392b;*/
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    /*margin: 10px 0px;*/
}

.contendornavar {
    background: #00b3db;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedormenu {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;*/
    height: auto;
    /*padding: 48px;*/
    width: 100%;
    position: sticky;
    top: 0;
}

.contenedormenu :hover {
    background: #2c3e50;
}

nav a:hover {
    background: #e74c3c;
}

.main {
    background: #fff;
    padding: 0 40px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}

.cuerpo {
    width: 100%;
}

section {
    height: 650px;
}

section>img {
    height: 50%;
}

.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    width: 60%;
}

.main article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

#sect1 {
    display: flex;
    /* Vector 1 */
    background-repeat: no-repeat;
    justify-content: flex-end;
    flex-direction: row-reverse;
    /*background-image: url(images/Frame%201.png);*/
    /*background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #ff5858 74%);
*/
}

#sect2 {
    background-image: url(images/Frame2.png);
}

#sect3 {
    background-image: url(images/Frame3.png);
    flex-direction: row-reverse;
}

#sect4 {}

aside {
    background: #e67e22;
    padding: 20px;
    /*FLEXBOX*/
    flex: 1 1 30%;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.widget {
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*aside .widget {


    background: #d35400;
    height: 150px;
    margin: 10px;
}*/

footer {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    /*FLEXBOX*/
    display: flex;
    /* siempre se usa display flex para los contenedores padres*/
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

footer .links {
    background: #c0392b;
    display: flex;
    flex-wrap: wrap;
}

footer .links a {
    flex-grow: 1;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

footer .redes {
    background: #e67e22;
}

footer .redes a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}


/* estilo para la barra del scroll*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #054c7c;
    border-radius: 5px;
}


/* Estilos del modal*/

.vermas {
    text-decoration: none;
    color: #000;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(7, 7, 8);
    display: flex;
    --opacity: 0;
    --pointer: none;
    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s;
}

.titulodelmodal {
    text-align: center;
}

.modal:target {
    --opacity: 1;
    --pointer: unset;
}

.contenedordemodal {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    margin: auto;
    overflow: hidden;
    padding: 2.5em 1.5em;
    border-radius: 1em;
    overflow: auto;
}

.vermas2 {
    text-decoration: none;
}

.modal2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(7, 7, 8);
    display: flex;
    --opacity: 0;
    --pointer: none;
    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s;
}

.modal2:target {
    --opacity: 1;
    --pointer: unset;
}

.contenedordemodal2 {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    margin: auto;
    text-align: center;
    overflow: hidden;
    padding: 2.5em 1.5em;
    border-radius: 1em;
}

.imagenmodal2 {
    width: 60%;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 2em;
}

.modal_close {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #1b79bd;
    padding: 1em 2em;
    font-weight: 700;
    border-radius: .4em;
    color: #1b79bd;
}

.modal_close:active {
    display: inline-block;
    text-decoration: none;
    background: #1b79bd;
    padding: 1em 2em;
    font-weight: 700;
    border-radius: .4em;
    color: #f7f7f7;
}

.modal_close:hover {
    display: inline-block;
    text-decoration: none;
    background: #1b79bd;
    padding: 1em 2em;
    font-weight: 700;
    border-radius: .4em;
    color: #f7f7f7;
    transition: 1s;
}

.imagenmodal2 img {
    width: 100%;
    display: block;
}

.modal:target .contenedordemodal {
    animation: show 1s .5s backwards;
}

.modal2:target .contenedordemodal2 {
    animation: show 1s .5s backwards;
}

@keyframes show {
    0% {
        transform: translateY(-150vh);
    }
}

@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .imagengrande img {
        height: 370px;
    }
    .textos h1 {
        text-align: center;
        font-size: 50px;
    }
    .textos h2 {
        text-align: center;
        font-size: 25px;
    }
    .textos {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin: 10px;
    }
    .container img {}
    article {
        font-size: 10px;
    }
    .contenedor {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0;
    }
    header .logo {
        margin: 20px 0;
    }
    header nav {
        width: 100%;
    }
    section>img {
        height: 30%;
    }
    aside {
        flex-direction: row;
        flex: 0;
    }
    aside .widget {
        flex-grow: 1;
    }
}

@media screen and (max-width:700px) {
    .textos h1 {
        font-size: 40px;
    }
    .textos h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .cuerpodelformulario {
        margin: 20px;
    }
    section img {
        height: 40%;
    }
    .logo a {
        font-size: 30px;
    }
    .logo img {
        width: 30px;
        height: 30px;
    }
    .textos h1 {
        font-size: 40px;
    }
    .textos h2 {
        font-size: 20px;
    }
    article {
        font-size: 70%;
    }
    aside {
        display: flex;
    }
    widget {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    footer {
        justify-content: space-around;
    }
}

@media (min-width:450px) and (max-width:599px) {
    .cuerpodelformulario {
        margin: 20px;
    }
    .main {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }
    .cuerpo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .textos h1 {
        font-size: 30px;
    }
    .textos h2 {
        font-size: 15px;
    }
    .imagengrande img {
        height: 300px;
    }
    section img {
        height: 200px;
    }
    section {
        flex-wrap: wrap;
    }
    .main article {
        width: 100%;
    }
    article {
        font-size: 70%;
    }
}

@media (min-width:350px) and (max-width:449px) {
    .main {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }
    article {
        font-size: 70%;
        margin-top: 30px;
    }
    .cuerpo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .textos h1 {
        font-size: 30px;
    }
    .textos h2 {
        font-size: 15px;
    }
    .imagengrande img {
        height: 300px;
    }
    section img {
        height: 200px;
        margin: 20px;
    }
    section {
        flex-wrap: wrap;
    }
    .main article {
        width: 100%;
    }
}

.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    width: 100%;
    transition: all 1s ease;
    background: #090e11db;
}

.uno {
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}

@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/*FORMULARIO*/

input {
    border: 0;
    outline: 0;
    font-size: 1rem;
    background: transparent;
    color: white;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.title {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.dudas {
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
    background: #647783c7;
    border-radius: 10px;
}

.campo {
    position: relative;
    width: 100%;
    padding: 1em;
}

@media only screen and (min-width: 600px) {
    .campo.col-5 {
        width: 50%;
    }
}

.campo .input {
    display: block;
    padding: 1em;
    width: 100%;
    transition: all .3s;
    border-bottom: 2px solid #1c77a1;
}

.campo .input:focus {
    border-bottom: 2px solid #828282;
}

.campo .input:valid+.label,
.campo .input:focus+.label {
    top: 1em;
    left: 1em;
    font-size: .9em;
    color: #828282;
}

.campo .input:valid {
    border-bottom: 2px solid #334dff;
}

.campo .label {
    position: absolute;
    top: 2em;
    left: 2em;
    text-transform: capitalize;
    transition: all .3s;
    color: #c5c5c5;
}

.campo .btn-enviar {
    display: block;
    width: 100%;
    padding: 1em 0;
    box-shadow: 0 0 0 2px #00B7FF;
    color: #00B7FF;
    cursor: pointer;
    transition: all .3s;
}

.campo .btn-enviar:hover {
    background: rgb(6, 84, 148);
    color: white;
    box-shadow: 0 0 0 0 transparent;
}

.campo .btn-enviar:active {
    background: #0f2dff;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.campo .btn-registrar {
    display: block;
    width: 100%;
    padding: 1em 0;
    box-shadow: 0 0 0 2px #00B7FF;
    color: #00B7FF;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    text-decoration: none;
}

.campo .btn-registrar:hover {
    background: #334dff;
    color: white;
    box-shadow: 0 0 0 0 transparent;
}

.campo .btn-registrar:active {
    background: #0f2dff;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}
